@font-face {
  font-family: "Katibeh-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("Katibeh-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Katibeh-Regular";
  font-style: normal;
  font-weight: 700;
  src: url("Katibeh-Regular.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: "Katibeh-Regular", cursive;
  text-align: center;
  direction: rtl;
  font-size: 24px;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
}
